[submodule "buildenv"]
	path = buildenv
	url = git://github.com/fpoirotte/Erebot_Buildenv.git
[submodule "tests/testenv"]
	path = tests/testenv
	url = git://github.com/fpoirotte/Erebot_Testenv.git
[submodule "vendor/Erebot_API"]
	path = vendor/Erebot_API
	url = git://github.com/fpoirotte/Erebot_API.git
