/vendor
/src/Erebot/Module/Countdown/Parser.php
/src/Erebot/Module/Countdown/Parser.y
/src/Erebot/Module/Countdown/Parser.out

/data/i18n/*/LC_MESSAGES/*.mo

/docs/api
/docs/coverage
/docs/enduser
/docs/src/generic

/*.pem
/*.phar
/*.pubkey
/*.tagfile.xml
