/build/
/vendor/
/src/Countdown/Parser.y
/src/Countdown/Parser.out

*.mo

/docs/api/
/docs/coverage/
/docs/enduser/
/docs/src/generic/
/docs/pot/.doctrees/
/docs/pot/generic/
/docs/i18n/*/LC_MESSAGES/generic/

/*.pem
/*.phar
/*.pubkey
/*.tagfile.xml
